<div class="row">
  <div class="col-xs-10">
    <app-shopping-edit
      (deletedItem)="onDeletedItem()"
      (clearItems)="onClearedItems()"
    >
    </app-shopping-edit>
    <hr>
    <ul class="list-group">
      <a
        href="#{{ingredient.name}}"
        attr.data-item-name="{{ingredient.name}}"
        class="list-group-item"
        style="cursor: pointer"
        *ngFor="let ingredient of ingredients; let i = index"
        [ngClass]="{
          'is-active': ingredient.name === activeItemName
        }"
        (click)="onListItemSelect($event)"
      >
        {{ ingredient.name }} ({{ ingredient.amount }})
      </a>
    </ul>
  </div>
</div>
